<div class="modal" id="help-dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white py-3">
                <h4 class="modal-title">Шта је алиас број картице за превоз?</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <ul>
                            <li>Број картице је једанаестоцифрени број одштампан на полеђини Ваше Бус Плус
                                картице.
                            </li>
                            <li>Првих десет цифара су број (алиас) картице, последња цифра је контролни број
                                картице.
                            </li>
                            <li>Потребно је да унесете све цифре са контролним бројем.</li>
                            <li>Број картице са примера био би
                                <mark>01032665890</mark>
                            </li>
                        </ul>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-sm-12">
                        <img src="media/bus-plus-card-back.png" alt="bus-plus-card-back"
                             class="img-fluid img-thumbnail mx-auto d-block">
                    </div>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">У реду</button>
            </div>
        </div>
    </div>
</div>