{% extends 'base.twig' %}
{% block container %}
    <div class="row mt-5">
        <div class="col-12 text-center">
            <h1 class="display-1 mt-5">
                <i class="fas fa-desktop text-secondary"></i>
            </h1>
            <h1 class="display-2 text-center text-secondary">
                404
            </h1>
        </div>
    </div>
    <div class="row mt-0">
        <div class="col-sm-12">
            <h3 class="text-center text-secondary">
                Жао нам је, садржај који сте тражили нисмо успели да пронађемо.
            </h3>
        </div>
    </div>
{% endblock %}